<section class="content-header" ng-init="loadData()">
    <h1>
        Anime List
    </h1>
</section>
<section class="content">
    <div ng-show="animes.length == 0" class="overlay row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-info"><h1> <i class="fa fa-refresh fa-spin"></i><br />
                <small>Loading Manga list</small></h1>
            </div>
        </div>
    </div>
    <div ng-show="animes.length > 0" infinite-scroll='loadMore()' infinite-scroll-disabled="scrollstop">
        <div ng-repeat="item in animes track by $index">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="-align-center text-center thumbnail">
                    <a ui-sref='anime({ aid: {{item.id}} })'>
                        <img ng-if="item.img" ng-src="{{item.img}}" alt="{{item.name}}" width="150" height="200" />
                        <div ng-if="!item.img" class="thumbnail" style="width: 150px;height: 200px;"><i style="font-size: xx-large" class="fa fa-frown-o"></i> <h3>No Image Found!</h3></div>
                    </a>
                    <h5>{{item.name}}</h5>
                </div>
            </div>
        </div>
        <div style='clear: both;'></div>
    </div>
</section>