<section class="content-header">
    <h1>
        {{manga.title}}
    </h1>
</section>
<secction class="content">
    <div ng-show="manga == null" class="overlay row text-center">
        <div class="col-md-4 col-md-offset-4">
            <div class="box box-info"><h1> <i class="fa fa-refresh fa-spin"></i><br />
                <small>Loading Manga details</small></h1></div>

        </div>
    </div>
    <div ng-show="manga != null">
        <div class="row col-lg-offset-1 col-md-offset-1">
            <div class="col-lg-9 col-md-7">
                <h4>Description</h4>
                <p>{{manga.desc}}</p>
            </div>
            <div class="col-lg-2 col-md-4">
                <img ng-src="{{manga.img}}" alt="{{manga.title}}"/>
            </div>
        </div>
        <br />
        <div class="row col-lg-offset-1 col-md-offset-1">
            <table class="table table-striped table-hover table-responsive">
                <tr>
                    <th class="col-md-10">Chapter</th>
                    <th class="col-md-2">Read</th>
                </tr>
                    <tr ng-repeat="ch in manga.chapters">
                        <td>{{ch.chapter}} {{ch.title}}</td>
                        <td><button ui-sref='reader({ mid: {{mid}},cid:{{$index}} })' class="btn btn-success">READ</button></td>
                    </tr>
            </table>
        </div>
</div>
    <div style='clear: both;'></div>
</secction>